table {
	width: 80%;
	margin-left:10%;
	height: auto;
	display: relative;
	thead {
		width: 100%;
		tr {
			width: 100%;
			td {
				font-weight: bold;
				width: 14.25%;
				text-align: center;
			}
		}
	}
}
form {
	width: 80%;
	margin-left: 10%;
	input {
		width: 13%;
		margin-left: 6px;
	}
}