<div id="app-container"></div>

<script type="text/template" id="app-template">
  <table>
	<thead>
	  <tr>
		<td>Name</td>
		<td>Decscription</td>
		<td>Quantity Avail.</td>
		<td>Location</td>
		<td>Purchase Price</td>
		<td>Sale Price</td>
		<td>Actions</td>
	  </tr>
	</thead>
	<tbody id="item-list">
	  
	</tbody>
  </table>
  <form id="add-item-form">
	<input type="text" name="name" placeholder="Name:"></input>
	<input type="text" name="description" placeholder="Description:"></input>
	<input type="text" name="quantity" placeholder="Quantity:"></input>
	<input type="text" name="location" placeholder="Location:"></input>
	<input type="text" name="purchase_price" placeholder="Purchase Price:"></input>
	<input type="text" name="sale_price" placeholder="Sale Price:"></input>
	<input type="submit" value="Add New Item"></input>
  </form>
</script>

<script type="text/template" id="item-template">
  <td class="item-name"><%= name %></td>
  <td class="item-description"><%= description %></td>
  <td class="item-quantity"><%= quantity %></td>
  <td class="item-location"><%= location %></td>
  <td class="item-purchase_price"><%= purchase_price %></td>
  <td class="item-sale_price"><%= sale_price %></td>
  <td class="item-actions">
	<span class="delete">Delete</span>
	<span class="edit">Edit</span>
  </td>

</script>

<script src="/static/pyInventory.js"></script>
<link rel="stylesheet" type="text/css" href="/static/bootstrap.css" />
